// font
@header-color: #464c5b;
@text-color: #657180;
@desc-color: #9ea7b4;
@disabled-text-color: #c3cbd6;

// function color
@primary-color: #1890ff;
@success-color: #73d13d;
@warning-color: #faad14;
@error-color: #f5222d;
@link-color: #3399ff;

// btn
@btn-default-color: #657180;
@btn-default-background-color: #fff;
@btn-default-border-color: #d9d9d9;

@btn-disable-color: #c3cbd6;
@btn-disable-background-color: #f5f5f5;
@btn-disable-border-color: #d9d9d9;

@btn-primary-color: #fff;
@btn-primary-background-color: #1890ff;
@btn-primary-border-color: #dcdee2;

@btn-success-color: #fff;
@btn-success-background-color: #73d13d;
@btn-success-border-color: #dcdee2;

@btn-warning-color: #fff;
@btn-warning-background-color: #faad14;
@btn-warning-border-color: #dcdee2;

@btn-error-color: #fff;
@btn-error-background-color: #f5222d;
@btn-error-border-color: #dcdee2;

@btn-link-color: #3399ff;
@btn-link-background-color: transparent;
@btn-link-border-color: transparent;
