.@{btn-prefix-cls} {
  .btn();
  .btn-default();

  &-long {
    width: 100%;
  }

  @btn-variant: primary, success, warning, error, link;
  each(@btn-variant, {
    @color: ~"btn-@{value}-color";
    @background-color: ~"btn-@{value}-background-color";
    @border-color:  ~"btn-@{value}-border-color";
    &-@{value} {
        .button-color-variant(@@color, @@background-color, @@border-color)
    }
  });

  &-default {
    .btn-default();
  }

  &-group {
    .btn-group(@btn-prefix-cls);
  }
}
